html {
    font-family: 'Solway', serif;
  }
  
  body {
    margin: 0;
  }

  nav {
    background: #9fa1b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 10px;

  }
  
  nav a {
    color: white;
    margin: 0 8px;
    line-height: 40px;

  }
  
#parent {
      height: 400px;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: flex-start;
      flex-wrap: nowrap;
      
  }
  
  .descriptions {
    background: ivory;
    position: fixed;
    left: 0;
    top: 60px;
    right: 50px;
    bottom: 40px;
    width: 300px;
    overflow-y: scroll;
  }


  .onsale {
    overflow-y: scroll;
    position: relative;
    right: 300px;
    Left:300px;
    top: 60px;
    bottom: 40px;
    position: fixed;
    background: lightgoldenrodyellow;
  }
  
  .ads {
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 60px;
    bottom: 40px;
    width: 300px;
    background: lightseagreen;
  }

  footer {
    text-align: center;
    height: 40px;
    background: aquamarine;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

  }
  
 